#thumbnail{
    max-height: 100px;
    margin: 20px;
}
#workbtn{
    margin: 20px;
}
#sectionID
{
    background: #e8ded2;
}
.footer-section
{
    background:  #0e0d0d;
    padding: 20px;
}